<div id="jquery_jplayer_2" class="jp-jplayer"></div>

<div id="jp_container_2" class="jp-audio">
	<div class="jp-type-single">
		<div class="jp-gui jp-interface">
			<ul class="jp-controls">
				<li><a href="javascript:;" class="jp-play" tabindex="1"><span>play</span></a></li>
				<li><a href="javascript:;" class="jp-pause" tabindex="1"><span>pause</span></a></li>
				<li><a href="javascript:;" class="jp-mute" tabindex="1" title="mute"><span>mute</span></a></li>
				<li><a href="javascript:;" class="jp-unmute" tabindex="1" title="unmute"><span>unmute</span></a></li>
				<li><a href="javascript:;" class="jp-volume-max" tabindex="1" title="max volume"><span>max volume</span></a></li>
			</ul>
			<div class="jp-progress">
				<div class="jp-seek-bar">
					<div class="jp-play-bar"></div>
				</div>
			</div>
			<div class="jp-volume-bar">
				<div class="jp-volume-bar-value"></div>
			</div>

		</div>
		<div class="jp-no-solution">
			<span>Update Required</span>
			To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
		</div>
	</div>
</div>