#main-panel
  .template
    .audio-list
      %h2.title
        Soundtracks
      %p.note
        Click on track to play.
      %ul.tracks
        %li
          In hac habitasse platea dictumst.
        %li
          Aliquam erat volutpat.
        %li
          Vestibulum ante ipsum primis in faucibus.                  
      .audio_player
        = render :partial=>'z_test/audio'
    .attachment-list
      %h2.title
        Attachments
      .attachments
        %a.attachment{:href=>'#'}
          .icon.doc
          .name
            Read me
        %a.attachment{:href=>'#'}
          .icon.jpg
          .name
            Cover Image
        %a.attachment{:href=>'#'}
          .icon.mov
          .name
            Download trailer
        %a.attachment{:href=>'#'}
          .icon.zip
          .name
            Download all
    .panel
      .text
        %h2 Lorem ipsum dolor sit amet, consectetur adipiscing elit
        %p
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eget libero eu dui vehicula pellentesque. Aenean rhoncus feugiat sapien, id mattis lacus posuere sit amet. Curabitur condimentum scelerisque tellus, eu gravida arcu venenatis eu. Aenean nec enim dolor. Fusce eu metus enim. Vestibulum dictum adipiscing massa sit amet tempus. Mauris egestas pretium dui, ac dapibus felis viverra eu. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec et neque quis lorem mollis varius et at dolor. Donec enim nulla, dictum elementum congue a, tincidunt nec neque.
        %h3
          Pellentesque habitant morbi tristique senectus
        %p
          Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris venenatis metus at arcu semper scelerisque. Pellentesque mollis hendrerit diam, vel cursus tortor luctus eu. Donec orci tortor, accumsan et fringilla non, mattis in turpis. Nam condimentum, nunc eget suscipit vulputate, ipsum nibh condimentum elit, quis posuere sem ipsum eget sem. Proin laoreet dignissim lacus, vel hendrerit massa commodo vel. Aenean laoreet dui a massa cursus in blandit sem vulputate.
        %h4
          In hac habitasse platea dictumst
        %p
          In hac habitasse platea dictumst. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris pretium ullamcorper ligula id eleifend. Sed mattis, elit quis placerat varius, metus diam sollicitudin purus, et adipiscing nunc erat sit amet purus. Nunc a magna non ante varius pharetra. Praesent elementum lorem ut purus porttitor aliquam. Aenean risus felis, ornare vel eleifend nec, varius rhoncus tortor. Aliquam erat volutpat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nam in viverra sapien.
        %h5
          Phasellus velit quam, porta ut elementum a, semper in leo
        %p
          Phasellus velit quam, porta ut elementum a, semper in leo. Sed arcu mi, ultrices nec gravida non, consequat nec dui. Donec lacus massa, venenatis eget accumsan id, mattis at leo. Proin eu mauris ligula, quis eleifend lacus. Pellentesque eget erat velit. Pellentesque ultrices, odio nec egestas aliquam, dui enim egestas orci, non feugiat risus lorem vel nisi. Nulla mollis laoreet lectus eu molestie. Sed in libero nulla. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Pellentesque accumsan porta gravida.
     