<div id="jp_container_1" class="jp-video jp-video-360p">
	<div class="jp-type-single">
		<div id="jquery_jplayer_1" class="jp-jplayer"></div>
		<div class="jp-gui">
			<div class="jp-video-play">
				<a href="javascript:;" class="jp-video-play-icon" tabindex="1"></a>
			</div>
			<div class="jp-interface">
				<div class="jp-progress">
					<div class="jp-seek-bar">
						<div class="jp-play-bar"></div>
					</div>
				</div>
				<div class="jp-controls-holder">
					<a href="javascript:;" class="jp-play" tabindex="1"></a>
					<a href="javascript:;" class="jp-pause" tabindex="1"></a>
					<a href="javascript:;" class="jp-mute" tabindex="1" title="mute"></a>
					<a href="javascript:;" class="jp-unmute" tabindex="1" title="unmute"></a>
					<a href="javascript:;" class="jp-volume-max" tabindex="1" title="max volume"></a>
					<div class="jp-volume-bar">
						<div class="jp-volume-bar-value"></div>
					</div>
          <div class="jp-current-time"></div>
          <div class="jp-duration"></div>
					<a href="javascript:;" class="jp-full-screen" tabindex="1" title="full screen"></a>
					<a href="javascript:;" class="jp-restore-screen" tabindex="1" title="restore screen"></a>
				</div>
			</div>
		</div>
		<div class="jp-no-solution">
			<span>Update Required</span>
			To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
		</div>
	</div>
</div>