<% if user_signed_in? %>
  <% if current_user.super_user? %>
    <li>
      <%= link_to("Users", user_activations_path) %> |
    </li>
  <% end %>
  <li>
  <%= link_to("#{current_user.email}", edit_user_registration_path) %> |
  </li>
<% else %>
  <li>
  <%= link_to('register', new_user_registration_path)  %> |
  </li>
<% end %>
