<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password, 'New Password' %><br/>
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation, 'New Password Confirmation' %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
  <%= f.password_field :current_password %></div>

  <div style="margin: 10px 0;"><%= f.submit "Update" %></div>
<% end %>

<h3>Cancel my account</h3>
<p><%= link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete %>.</p>
<p><%= link_to "Back", :back %></p>