<%
var d = '&amp;';
var url = 'http://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F';
url+= track_id;
url+= (d+'auto_play=false');
url+= (d+'show_artwork=true');
url+= (d+'color=b5aea8');
url+= (d+'show_comments=false');
url+= (d+'show_playcount=false');
url+= (d+'sharing=false');
url+= (d+'buying=false');
url+= (d+'liking=false');
/*
auto_play=false
show_artwork=true
buying=true
liking=true
download=true
sharing=true

show_comments=true
show_playcount=true
show_user=true
start_track=0
*/%>
<iframe id="<%=iframe_id%>" width="100%" height="166" scrolling="no" frameborder="no" src="<%=url%>"></iframe>