<video id="<%= id %>" class="video-js vjs-default-skin" controls width="<%= width %>" height="<%= height %>" preload="auto" poster="<%= thumbnail_url %>">
  <% _.each(versions, function(url, type){  %>
    <source src="<%= url %>" type="<%= type %>">
  <% }); %>
</video>
