<iframe id="<%=iframe_id%>"width="100%" class='youtube_video' height="100%" src="http://www.youtube.com/embed/<%=video_id%>?enablejsapi=1&wmode=transparent&rel=0&hd=1&cc_load_policy=1&iv_load_policy=3&showinfo=0&showsearch=0" frameborder="0" allowfullscreen></iframe>
