.error-explanation
  color: #A5F
  .field
    text-transform: capitalize

.admin
  
  
  #main
    
    
  #title
    font-size: 32px
    width: 450px
    height: 30px
    background: url('vreglogo.png') no-repeat
    
  #main-container
    height: 100%
    min-height: 100%
    position: relative
    
  @import "projects"

  .users-list
    float: left
    width: 33%

  .new-admin
    clear: both

    
#login-form
  //margin: 30px auto
  text-align: center
  
  h2
    text-align: center
    margin-bottom: 20px
    font-size: 130%
    
  input[type=email], input[type=password]
    @include border-radius(3px)
    color: #222
    border: 1px solid #bbb
    padding: 10px 8px
    margin: 0 auto 10px auto 
    width: 300px
  
  input[type=checkbox]
    text-align: center
  
  input[type=submit]
    text-align: center
  
  .notice
    width: 320px
    margin: 0 auto
    display: block
    position: static
    text-align: center
    margin-bottom: 10px

  a
    text-decoration: none
    color: #aaa

  div
    br
      display: inline-block

  .logo
    height: 133px
    background: url('vreglogo.png') no-repeat center



.remember-me
  padding: 13px 20px 20px 20px

p.notice
  background: #f16529
  position: absolute
  top: -43px
  right: 1px
  @include border-radius(3px)
  padding: 0px 5px
  color: white
  font-size: 11px

.errors
  color: red
  padding-bottom: 5px


