#projects
  @include border-radius(4px 0 0 4px)
  list-style: none
  margin: 0
  padding: 0
  margin-right: 20px
  float: left
  width: 200px
  padding-right: 15px
  padding: 0
  
  li.project
    width: 170px
    font-size: 11px
    line-height: 15px
    margin-bottom: 5px
    cursor: pointer
    color: #fff
    text-decoration: none
    padding: 7px 12px
    position: relative
    display: inline-block
    text-shadow: 0 -1px 0 #444
    -webkit-transition: border-color .218s
    -moz-transition: border .218s
    -o-transition: border-color .218s
    transition: border-color .218s
    
    background: #0f77a3
    background: -moz-linear-gradient(top,  #0f77a3 0%, #006995 100%)
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0f77a3), color-stop(100%,#006995))
    background: -webkit-linear-gradient(top,  #0f77a3 0%,#006995 100%)
    background: -o-linear-gradient(top,  #0f77a3 0%,#006995 100%)
    background: -ms-linear-gradient(top,  #0f77a3 0%,#006995 100%)
    background: linear-gradient(top,  #0f77a3 0%,#006995 100%)
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f77a3', endColorstr='#006995',GradientType=0 )

    border: solid 1px #1f7bbb
    border-radius: 2px
    -webkit-border-radius: 2px
    -moz-border-radius: 2px


    &:hover
      border-color: #0b6388
      -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.5) 
      -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5)
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5)

      background: #3791b7
      background: -moz-linear-gradient(top,  #3791b7 0%, #1b80aa 100%)
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3791b7), color-stop(100%,#1b80aa))
      background: -webkit-linear-gradient(top,  #3791b7 0%,#1b80aa 100%)
      background: -o-linear-gradient(top,  #3791b7 0%,#1b80aa 100%)
      background: -ms-linear-gradient(top,  #3791b7 0%,#1b80aa 100%)
      background: linear-gradient(top,  #3791b7 0%,#1b80aa 100%)
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3791b7', endColorstr='#1b80aa',GradientType=0 )

  li.category
    padding-top: 25px
    padding-bottom: 5px

#archived-projects
  @include border-radius(4px 0 0 4px)
  list-style: none
  margin: 0
  padding: 0
  margin-right: 20px
  float: left
  width: 300px
  height: 440px
  padding-right: 15px
  padding: 0
  
  li.archived-project
    width: 270px
    font-size: 11px
    line-height: 15px
    margin-bottom: 5px
    cursor: pointer
    color: #fff
    text-decoration: none
    padding: 7px 12px
    position: relative
    display: inline-block
    text-shadow: 0 -1px 0 #444
    -webkit-transition: border-color .218s
    -moz-transition: border .218s
    -o-transition: border-color .218s
    transition: border-color .218s
    
    background: #0f77a3
    background: -moz-linear-gradient(top,  #0f77a3 0%, #006995 100%)
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0f77a3), color-stop(100%,#006995))
    background: -webkit-linear-gradient(top,  #0f77a3 0%,#006995 100%)
    background: -o-linear-gradient(top,  #0f77a3 0%,#006995 100%)
    background: -ms-linear-gradient(top,  #0f77a3 0%,#006995 100%)
    background: linear-gradient(top,  #0f77a3 0%,#006995 100%)
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f77a3', endColorstr='#006995',GradientType=0 )

    border: solid 1px #1f7bbb
    border-radius: 2px
    -webkit-border-radius: 2px
    -moz-border-radius: 2px

    button
      display: inline
      visibility: hidden

    &:hover
      border-color: #0b6388
      -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.5) 
      -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5)
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5)

      background: #3791b7
      background: -moz-linear-gradient(top,  #3791b7 0%, #1b80aa 100%)
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3791b7), color-stop(100%,#1b80aa))
      background: -webkit-linear-gradient(top,  #3791b7 0%,#1b80aa 100%)
      background: -o-linear-gradient(top,  #3791b7 0%,#1b80aa 100%)
      background: -ms-linear-gradient(top,  #3791b7 0%,#1b80aa 100%)
      background: linear-gradient(top,  #3791b7 0%,#1b80aa 100%)
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3791b7', endColorstr='#1b80aa',GradientType=0 )

      button
        visibility: visible

  li.category
    padding-top: 25px
    padding-bottom: 5px

#project
  @include border-radius(4px)
  padding: 5px 20px 20px 20px
  float: left
  width: 718px
  min-height: 400px
  background: #fff url(/assets/vsr-project-bar.jpg) repeat-x
  border: 1px solid #ddd

  header

    //padding-top: 5px
    padding-top: 25px

    h1
      

    p
      

  .actions
    margin: 17px 0

    button
      padding: 3px 10px

#create-new-project
  margin: 100px auto
  width: 100%
  display: inline-block
  text-align: center


button, input[type=submit]
  @include border-radius(20px)
  color: #fff
  font-weight: bold
  text-decoration: none
  padding: 7px 12px
  position: relative
  display: inline-block
  text-shadow: 0 -1px 0 #222
  -webkit-transition: border-color .218s
  -moz-transition: border .218s
  -o-transition: border-color .218s
  transition: border-color .218s
  
  background: #6bb3e4
  background: -moz-linear-gradient(top,  #6bb3e4 0%, #2383c5 100%)
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6bb3e4), color-stop(100%,#2383c5))
  background: -webkit-linear-gradient(top,  #6bb3e4 0%,#2383c5 100%)
  background: -o-linear-gradient(top,  #6bb3e4 0%,#2383c5 100%)
  background: -ms-linear-gradient(top,  #6bb3e4 0%,#2383c5 100%)
  background: linear-gradient(top,  #6bb3e4 0%,#2383c5 100%)
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6bb3e4', endColorstr='#2383c5',GradientType=0 )

  border: solid 1px #3F81AF

  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5)
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5)
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5)
  
  margin-right: 10px
  
  &:hover
    color: #fff
    -webkit-box-shadow: 0 0 5px #3f81af, inset 0 1px 0 rgba(255, 255, 255, 0.5)
    -moz-box-shadow: 0 0 5px #3f81af, inset 0 1px 0 rgba(255, 255, 255, 0.5)
    box-shadow: 0 0 5px #3f81af, inset 0 1px 0 rgba(255, 255, 255, 0.5)

#create_project
  position: absolute
  left: 0px
  top: -50px

.update-contacts, .add-contact, .add-contact-group
  margin-top: 0px
  margin-right: 5px


.contacts-index, .groups-index, .viewers-index, .user-actions-index
  
  width: 31%
  margin-right: 17px
  float: left
  overflow: hidden

  .head
    margin: 0
    padding: 0
    min-height: 70px
    margin-bottom: 10px
    margin-top: 20px
    overflow: hidden

  .contacts_list, .viewers-list, .contact_groups_list

    @include border-radius(3px)
    border: 1px solid #ddd
    padding: 0px
    //width: 100%
    margin: 0
    height: 400px
    overflow-x: hidden
    overflow-y: auto
    background: #f5f5f5
    
    &.dragging-child
      overflow-x: visible
    
    li
      @include border-radius(3px)
      border: 1px dashed #ddd
      margin: 5px
      padding: 5px 2px
      background: #fff
      cursor: pointer
      font-size: 11px
      line-height: 14px
      text-align: left!important
      padding-left: 6px
      
      &:hover, &.selected
        background-color: #6BB3E4
        color: #fff!important
        border: 1px dashed #6BB3E4
      
      &.global
        color: pink
        color: #222
      text-align: left
      .selected
        background-color: gray
      .selection
  small
    font-size: 11px
    line-height: 14px
    color: #444
    width: 100%
    display: block

  .search 
    @include border-radius
    background: url('box-background.png')
    border: 1px solid gray
    padding: 3px
    display: block
    width: 198px
    &:hover, &:focus
      color: white

.user-actions-index
  width: 476px
  margin-right: 0
  
  .log_all
    cursor: pointer
    color: #6BB3E4

    &:hover
      color: #2383C5

.user_actions_list
  padding: 0
  margin: 0
  
  @include border-radius(3px)
  border: 1px solid #ddd
  padding: 0px
  //width: 100%
  margin: 0
  height: 400px
  overflow-x: hidden
  overflow-y: auto


  li
    line-height: 14px
    padding-left: 10px
      
  .time
    color: #aaa
    display: block
    margin-bottom: 7px
    font-style: italic
    font-size: 11px
  
  .type
    color : #0F77A3
    font-weight: bold

      
#viewers_management
  //outline: 1px solid green
  width: 738px

  h2
    font-size: 80%
    margin-top: 10px
  p
    font-size: 70%
  .actions
    width: 100%
    display: block
    float: left

.can-drop
  background: #c9ebf9!important

.can-drop.hovering 
  background: #f6a7a7!important






