/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require skeleton
 *= require_self
 *= require base
 *= require layout
 *= require_tree . 
*/
/* =============================================================================
   HTML5 Boilerplate CSS: h5bp.com/css
   ========================================================================== */
/* line 16, ../../app/assets/stylesheets/application.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 17, ../../app/assets/stylesheets/application.scss */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 18, ../../app/assets/stylesheets/application.scss */
audio:not([controls]) {
  display: none;
}

/* line 19, ../../app/assets/stylesheets/application.scss */
[hidden] {
  display: none;
}

/* line 21, ../../app/assets/stylesheets/application.scss */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 22, ../../app/assets/stylesheets/application.scss */
html, button, input, select, textarea {
  font-family: sans-serif;
  color: #222;
}

/* line 23, ../../app/assets/stylesheets/application.scss */
body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4;
}

/* line 25, ../../app/assets/stylesheets/application.scss */
::-moz-selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}

/* line 26, ../../app/assets/stylesheets/application.scss */
::selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}

/* line 28, ../../app/assets/stylesheets/application.scss */
a {
  color: #00e;
}

/* line 29, ../../app/assets/stylesheets/application.scss */
a:visited {
  color: #551a8b;
}

/* line 30, ../../app/assets/stylesheets/application.scss */
a:hover {
  color: #06e;
}

/* line 31, ../../app/assets/stylesheets/application.scss */
a:focus {
  outline: thin dotted;
}

/* line 32, ../../app/assets/stylesheets/application.scss */
a:hover, a:active {
  outline: 0;
}

/* line 34, ../../app/assets/stylesheets/application.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 35, ../../app/assets/stylesheets/application.scss */
b, strong {
  font-weight: bold;
}

/* line 36, ../../app/assets/stylesheets/application.scss */
blockquote {
  margin: 1em 40px;
}

/* line 37, ../../app/assets/stylesheets/application.scss */
dfn {
  font-style: italic;
}

/* line 38, ../../app/assets/stylesheets/application.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 39, ../../app/assets/stylesheets/application.scss */
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 40, ../../app/assets/stylesheets/application.scss */
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 41, ../../app/assets/stylesheets/application.scss */
pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/* line 42, ../../app/assets/stylesheets/application.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 43, ../../app/assets/stylesheets/application.scss */
q {
  quotes: none;
}

/* line 44, ../../app/assets/stylesheets/application.scss */
q:before, q:after {
  content: "";
  content: none;
}

/* line 45, ../../app/assets/stylesheets/application.scss */
small {
  font-size: 85%;
}

/* line 47, ../../app/assets/stylesheets/application.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 48, ../../app/assets/stylesheets/application.scss */
sup {
  top: -0.5em;
}

/* line 49, ../../app/assets/stylesheets/application.scss */
sub {
  bottom: -0.25em;
}

/* line 51, ../../app/assets/stylesheets/application.scss */
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

/* line 52, ../../app/assets/stylesheets/application.scss */
dd {
  margin: 0 0 0 40px;
}

/* line 53, ../../app/assets/stylesheets/application.scss */
nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

/* line 55, ../../app/assets/stylesheets/application.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

/* line 57, ../../app/assets/stylesheets/application.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 59, ../../app/assets/stylesheets/application.scss */
figure {
  margin: 0;
}

/* line 61, ../../app/assets/stylesheets/application.scss */
form {
  margin: 0;
}

/* line 62, ../../app/assets/stylesheets/application.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 63, ../../app/assets/stylesheets/application.scss */
label {
  cursor: pointer;
}

/* line 64, ../../app/assets/stylesheets/application.scss */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal;
}

/* line 65, ../../app/assets/stylesheets/application.scss */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 66, ../../app/assets/stylesheets/application.scss */
button, input {
  line-height: normal;
}

/* line 67, ../../app/assets/stylesheets/application.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

/* line 68, ../../app/assets/stylesheets/application.scss */
button[disabled], input[disabled] {
  cursor: default;
}

/* line 69, ../../app/assets/stylesheets/application.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}

/* line 70, ../../app/assets/stylesheets/application.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 71, ../../app/assets/stylesheets/application.scss */
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* line 72, ../../app/assets/stylesheets/application.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 73, ../../app/assets/stylesheets/application.scss */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/* line 75, ../../app/assets/stylesheets/application.scss */
input:invalid, textarea:invalid {
  background-color: #f0dddd;
}

/* line 77, ../../app/assets/stylesheets/application.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 78, ../../app/assets/stylesheets/application.scss */
td {
  vertical-align: top;
}

/* line 80, ../../app/assets/stylesheets/application.scss */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: black;
  padding: 0.2em 0;
}

/* ===== Initializr Styles =====================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */
/* line 87, ../../app/assets/stylesheets/application.scss */
html, body {
  font: 16px/26px Helvetica, Helvetica Neue, Arial;
  height: 100%;
}

/* line 92, ../../app/assets/stylesheets/application.scss */
#container {
  background: url(/assets/background.jpg) no-repeat;
}

/* line 96, ../../app/assets/stylesheets/application.scss */
.wrapper {
  width: 95%;
  margin: 24px 5%;
}

/* ===================
    ALL: VREG Theme
   =================== */
/* line 105, ../../app/assets/stylesheets/application.scss */
#header-container {
  border-bottom: 1px solid #ddd;
}

/* line 108, ../../app/assets/stylesheets/application.scss */
#footer-container {
  border-top: 1px solid #ddd;
  height: 4em;
  clear: both;
}

/* line 113, ../../app/assets/stylesheets/application.scss */
#main aside {
  border-top: 1px solid #ddd;
}

/* line 117, ../../app/assets/stylesheets/application.scss */
#main-container {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
}

/* line 126, ../../app/assets/stylesheets/application.scss */
#header-container,
#footer-container,
#main aside {
  background: 0;
}

/* line 130, ../../app/assets/stylesheets/application.scss */
#footer-container h3 {
  font-size: 18px;
  color: white;
}

/* line 132, ../../app/assets/stylesheets/application.scss */
#title {
  color: white;
  text-align: left;
}

/* line 134, ../../app/assets/stylesheets/application.scss */
::-moz-selection {
  background: #f16529;
  color: #fff;
  text-shadow: none;
}

/* line 135, ../../app/assets/stylesheets/application.scss */
::selection {
  background: #f16529;
  color: #fff;
  text-shadow: none;
}

/* ==============
    MOBILE: Menu
   ============== */
/* line 141, ../../app/assets/stylesheets/application.scss */
nav a {
  display: block;
  margin-bottom: 10px;
  padding: 15px 0;
  background: #e44d26;
  color: white;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
}

/* line 154, ../../app/assets/stylesheets/application.scss */
nav a:hover, nav a:visited {
  color: white;
}

/* line 158, ../../app/assets/stylesheets/application.scss */
nav a:hover {
  text-decoration: underline;
}

/* ==============
    MOBILE: Main
   ============== */
/* line 166, ../../app/assets/stylesheets/application.scss */
#main {
  padding: 30px 0;
}

/* line 170, ../../app/assets/stylesheets/application.scss */
#main article h1 {
  font-size: 2em;
}

/* line 174, ../../app/assets/stylesheets/application.scss */
#main aside {
  color: white;
  padding: 0px 5% 10px;
}

/* line 179, ../../app/assets/stylesheets/application.scss */
#footer-container footer {
  color: white;
  padding: 0px 0;
  text-align: center;
}

/* ===============
    ALL: IE Fixes
   =============== */
/* line 189, ../../app/assets/stylesheets/application.scss */
.ie7 #title {
  padding-top: 20px;
}

/* ===== Primary Styles ========================================================
   Author:
   ========================================================================== */
/* =============================================================================
   Media Queries
   ========================================================================== */
@media only screen and (min-width: 480px) {
  /* ====================
      INTERMEDIATE: Menu
     ==================== */
  /* line 216, ../../app/assets/stylesheets/application.scss */
  nav a {
    float: left;
    width: 27%;
    margin: 0 1.7%;
    padding: 25px 2%;
    margin-bottom: 0;
  }

  /* line 224, ../../app/assets/stylesheets/application.scss */
  nav li:first-child a {
    margin-left: 0;
  }

  /* line 225, ../../app/assets/stylesheets/application.scss */
  nav li:last-child a {
    margin-right: 0;
  }

  /* ========================
      INTERMEDIATE: IE Fixes
     ======================== */
  /* line 231, ../../app/assets/stylesheets/application.scss */
  nav ul li {
    display: inline;
  }

  /* line 234, ../../app/assets/stylesheets/application.scss */
  .oldie nav a {
    margin: 0 0.7%;
  }
}
@media only screen and (min-width: 768px) {
  /* ====================
      WIDE: CSS3 Effects
     ==================== */
  /* line 246, ../../app/assets/stylesheets/application.scss */
  #header-container,
  #main aside {
    -webkit-box-shadow: 0 10px 10px #aaa;
    -moz-box-shadow: 0 10px 10px #aaa;
    box-shadow: 0 10px 10px #aaa;
  }

  /* ============
      WIDE: Menu
     ============ */
  /* line 256, ../../app/assets/stylesheets/application.scss */
  #title {
    float: left;
  }

  /* line 260, ../../app/assets/stylesheets/application.scss */
  nav {
    float: right;
    width: 38%;
  }

  /* ============
      WIDE: Main
     ============ */
  /* line 269, ../../app/assets/stylesheets/application.scss */
  #main article {
    float: left;
    width: 57%;
  }

  /* line 274, ../../app/assets/stylesheets/application.scss */
  #main aside {
    float: right;
    width: 28%;
  }
}
@media only screen and (min-width: 1140px) {
  /* ===============
      Maximal Width
     =============== */
  /* line 286, ../../app/assets/stylesheets/application.scss */
  .wrapper {
    width: 1026px;
    /* 1140px - 10% for margins */
    margin: 24px auto;
  }
}
/* =============================================================================
   Non-Semantic Helper Classes
   ========================================================================== */
/* line 296, ../../app/assets/stylesheets/application.scss */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0;
}

/* line 297, ../../app/assets/stylesheets/application.scss */
.ir br {
  display: none;
}

/* line 298, ../../app/assets/stylesheets/application.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 299, ../../app/assets/stylesheets/application.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 300, ../../app/assets/stylesheets/application.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 301, ../../app/assets/stylesheets/application.scss */
.invisible {
  visibility: hidden;
}

/* line 302, ../../app/assets/stylesheets/application.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

/* line 303, ../../app/assets/stylesheets/application.scss */
.clearfix:after {
  clear: both;
}

/* line 304, ../../app/assets/stylesheets/application.scss */
.clearfix {
  *zoom: 1;
}

/* =============================================================================
   Print Styles
   ========================================================================== */
@media print {
  /* line 311, ../../app/assets/stylesheets/application.scss */
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* Black prints faster: h5bp.com/s */
  /* line 312, ../../app/assets/stylesheets/application.scss */
  a, a:visited {
    text-decoration: underline;
  }

  /* line 313, ../../app/assets/stylesheets/application.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 314, ../../app/assets/stylesheets/application.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 315, ../../app/assets/stylesheets/application.scss */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* Don't show links for images, or javascript/internal links */
  /* line 316, ../../app/assets/stylesheets/application.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 317, ../../app/assets/stylesheets/application.scss */
  thead {
    display: table-header-group;
  }

  /* h5bp.com/t */
  /* line 318, ../../app/assets/stylesheets/application.scss */
  tr, img {
    page-break-inside: avoid;
  }

  /* line 319, ../../app/assets/stylesheets/application.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 321, ../../app/assets/stylesheets/application.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 322, ../../app/assets/stylesheets/application.scss */
  h2, h3 {
    page-break-after: avoid;
  }
}
/* =============================================================================
   Devise Menu
   ========================================================================== */
/* line 328, ../../app/assets/stylesheets/application.scss */
ul.hmenu {
  list-style: none;
  margin: 0 0 2em;
  padding: 0;
  float: right;
  color: #ddd;
}

/* line 336, ../../app/assets/stylesheets/application.scss */
ul.hmenu li {
  display: inline;
}
/* line 338, ../../app/assets/stylesheets/application.scss */
ul.hmenu li a {
  color: #ddd;
  text-decoration: none;
}
/* line 343, ../../app/assets/stylesheets/application.scss */
ul.hmenu li a:visited {
  color: #ddd;
}
