%form#contact_form
  %h2 Contact
  .errors
  
  .field
    %label Email    
    %input#contact_email{:type => "text", :name=>'contact[email]'}
    
  .field
    %label Full name
    %input#contact_email{:type => "text",:name=>'contact[full_name]'}
    
  .actions
    %input.sumbmit{:name => "commit", :type => "submit", :value => "Save"}
    %a.cancel-form{:href => ""} cancel