<div id='login-form'>
  <div class='logo'></div>
  
  <h1>Forgot your password?</h1>
  <br>
  
  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>

  <%= devise_error_messages! %>
    
  <div>
  	<%= f.email_field :email, :placeholder => "Enter your email" %>
  </div>

  <div id="reset-password-instructions">
  	<%= f.submit "Send me reset password instructions" %>
  </div>

  <% end %>

  <!-- <%= render "links" %> -->
</div>