= image_tag("vreglogo.png", alt: "Village Roadshow Logo")

%br
- unless @viewer.activated?
  %b
    The screening link below is restricted so we've created an account for you.
    Your username is your email: 
    = @viewer.email 
    %br
    We will prompt to create a password for your account before you can access the screening. Please let us know if you have questions or need additional information.
    %br
    %br

%h3= @project.title
- if @invitation.message.present?
  = raw @invitation.message

%p= link_to 'Click here to visit the Screening Room.', @url
