= form_for(@view_item) do |f|
  - if @view_item.errors.any?
    #error_explanation
      %h2
        = pluralize(@view_item.errors.count, "error")
        prohibited this view_item from being saved:
      %ul
        - @view_item.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :ancestry
    %br/
    = f.text_field :ancestry
  .field
    = f.label :position
    %br/
    = f.number_field :position
  .field
    = f.label :item_type
    %br/
    = f.text_field :item_type
  .field
    = f.label :html
    %br/
    = f.text_area :html
  .actions
    = f.submit
