#main-editor
  Loading...

%script{ :type => "text/template", :id => "editor-template" }
  %h1 Listing view_items
  %table
    %tr
      %th Ancestry
      %th Position
      %th Item type
      %th Html
      %th
      %th
      %th
    - @view_items.each do |view_item|
      %tr
        %td= view_item.ancestry
        %td= view_item.position
        %td= view_item.item_type
        %td= view_item.html
        %td= link_to 'Show', view_item
        %td= link_to 'Edit', edit_view_item_path(view_item)
        %td= link_to 'Destroy', view_item, confirm: 'Are you sure?', method: :delete
  %br/
  = link_to 'New View item', new_view_item_path

%script{ :type => "text/template", :id => "viewItem-template" }
  View Item Template