%form.project-form{"accept-charset" => "UTF-8", :action => "/projects", :method => "post"}
  %div{:style => "margin:0;padding:0;display:inline"}
    %input{:name => "utf8", :type => "hidden", :value => "✓"}/
  .error-explanation
  %h2 Publish your work to project viewers
  .field
    %label{:for => "project_description"} Description (optional)
    %textarea#project_description{:name => "project[description]"}
      = "<%= project.get('description') %>".html_safe

  %p
    Please select the viewers you wish to notify:
    %label.all
      %input{:type => 'checkbox'} All

  %ul.viewers
    <% project.viewers.each(function(viewer){  %>
    %li
      %label
        %input{:type => 'checkbox', :name => "viewers[]", :value => "<%= viewer.get('id') %>"} <%= viewer.get('full_name') %>
    <% }); %>

  .clear

  .actions
    %input.save{:name => "commit", :type => "submit", :value => "Publish"}
    %a.cancel-form cancel
