= form_for(@invitation) do |f|
  - if @invitation.errors.any?
    #error_explanation
      %h2
        = pluralize(@invitation.errors.count, "error")
        prohibited this invitation from being saved:
      %ul
        - @invitation.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :message
    %br/
    = f.text_field :message
  .field
    = f.label :token
    %br/
    = f.text_field :token
  .field
    = f.label :viewed_at
    %br/
    = f.datetime_select :viewed_at
  .field
    = f.label :creator_id
    %br/
    = f.number_field :creator_id
  .field
    = f.label :project_id
    %br/
    = f.number_field :project_id
  .field
    = f.label :user_id
    %br/
    = f.number_field :user_id
  .actions
    = f.submit
