%h1 Listing invitations
%table
  %tr
    %th Message
    %th Token
    %th Viewed at
    %th Creator
    %th Project
    %th User
    %th
    %th
    %th
  - @invitations.each do |invitation|
    %tr
      %td= invitation.message
      %td= invitation.token
      %td= invitation.viewed_at
      %td= invitation.creator_id
      %td= invitation.project_id
      %td= invitation.user_id
      %td= link_to 'Show', invitation
      %td= link_to 'Edit', edit_invitation_path(invitation)
      %td= link_to 'Destroy', invitation, confirm: 'Are you sure?', method: :delete
%br/
= link_to 'New Invitation', new_invitation_path
