%h1 
  Project title:
  = @invitation.project.title
%p Invitation to new presentation

%p= @invitation.project.description

- if @invitation.message.present?
  %p
    %b Message
    %br
    = @invitation.message

= button_to 'Continue to Presentation', presentation_path(@invitation.project), :method => :get