#foreground-panel
  :display none
  :position fixed
  :top 0px
  :left 0px
  :z-index 1000
  :width 100%
  :height 100%
  :background-color rgba(40,40,40,0.9)
  :color #444
  :overflow auto

  label
    :display inline-block
    :width 120px
    :color #222
    :font-weight bold

  input[type=file]
    :display inline-block

  a
    //color: #ddd
    text-decoration: none
    
    &:hover
      //color: #aaa
  
  .cancel-form
    cursor: pointer

  .foreground
    @include border-radius(3px)
    position: relative
    top: 20%
    width: 500px
    margin-right: auto
    margin-left: auto
    border: 1px solid #000
    padding: 20px
    background: #F1F3F3

    .options
      text-align: center

      .drag
        cursor: pointer
        margin-left: 0
        margin-right: 5px
        width: 93px
        height: 110px
        


    .project-form, #contact_form
      width: 450px
      
      h2
        color: #222
        font-size: 120%
        margin-bottom: 20px
      label
        //width: 80px
        display: inline-block
        margin-bottom: 5px

      input[type=text]
        
        @include border-radius(3px)
        color: #222
        border: 1px solid #bbb
        padding: 10px 8px
        margin-bottom: 10px
        width: 358px
        width: 482px

      textarea

        @include border-radius(3px)
        color: #222
        border: 1px solid #bbb
        padding: 10px 8px
        margin: 0 auto 20px auto 
        width: 482px
        height: 150px

      .actions
        text-align: right
        margin-right: 0px
        width: 499px

      ul li
        width: 162px
        float: left
      input[type="checkbox"]
        margin-right: 3px


.field
  width: 500px

a.cancel-form
  //color: #222
