.audios-list
  .audios
    text-align: center
    a
      text-shadow: none

      &:hover
        color: #fff!important

    .audio
      //font-size: 1.6em
      //line-height: 1.7em
      //padding: 0.6em
      display: block
      cursor: pointer

    .audio:hover, .audio.active
      color: white

    .audio.active:hover
      color: auto

    .audio.can-drop
      +opacity(0.5)
