@import "cssgrid/1140"
@import "cssgrid/resolutions_specific"

.screening
  .row
    position: relative
    padding: 0.7em 0
  .image,.text
    padding: 0.7em 0
  .text p:last-child
    margin-bottom: 0
  .image
    text-align: center
    max-width : 100%
  .attachments-list,.videos-list,.audios-list
    width: 100%
    text-align: center
    background-color: rgba(0,0,0,0.2)
    padding: 1.5em 0
    margin: 0.7em 0
    
.draging
  .screening
    .row
      overflow: visible
    .row:before,.row:after
      content: ""
      display: table