.screening
  #dropzone-list
    min-height: 150px
    width: 100%
  
  .box
    min-height: 100px
    display: inline-block
    float: left
    position: relative
    margin-bottom: 20px
    background: rgba(0,0,0,0.4)
    @include border-radius(3px)
    //outline: 1px solid #ddd
    border: 1px solid #000

    //outline: 1px solid red

    .image,img
      width: 100%
  
  .box1
    width: 100%
    
    .box-whole
      width: 100%
      width: 938px
      margin: 20px
      //outline: 1px dashed rgba(0,147,223,0.7)
  
  .box2
    width: 100%
    
    .box-half
      width: 458px
      //margin: 2% 2% 
      margin: 20px
      //outline: 1px dashed rgba(0,147,223,0.7)
      //outline: 1px solid blue

      &:nth-child(3)
        margin-left: 0

  .box2-1, .box1-2
    width: 100%
    
    .box-third
      width: 29%
      margin: 20px
    
    .box-two-thirds
      width: 630px
      margin: 20px 0 20px 20px 
    
    .box-third, .box-two-thirds
      
      &:first-child
        margin-left: 0
      
      &:last-child
        margin-right: 0

  .box1-2
    .box-two-thirds
      width: 631px
      margin: 20px 20px 20px 0px

  .box3
    width: 100%
    
    .box-third
      width: 298px
      margin: 20px 0 20px 20px
      //outline: 1px dashed rgba(0,147,223,0.7)

      &:nth-child(4)
        margin-right: 0

  .text, .video, .image
    max-width: 100%
    display: block