@import "compass/css3/border-radius"
@import "compass/css3/text-shadow"
@import "compass/css3"

$editing_toolbar_width: 85px
$editor_header_height: 40px

$drag_dimension: 32px
$drag_margin: 10px
$editing_toolbar_width: 85px
$editor_header_height: $drag_dimension + 2 * $drag_margin


.editor
  min-height: 1500% 
  #main-container.screening

a
  //color: #444

.button
  @include border-radius(20px)
  color: #fff
  font-weight: bold
  text-decoration: none
  position: relative
  display: inline-block
  text-shadow: 0 -1px 0 #222
  
  -webkit-transition: border-color .218s
  -moz-transition: border .218s
  -o-transition: border-color .218s
  transition: border-color .218s
  
  background: #6bb3e4
  background: -moz-linear-gradient(top,  #6bb3e4 0%, #2383c5 100%)
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6bb3e4), color-stop(100%,#2383c5))
  background: -webkit-linear-gradient(top,  #6bb3e4 0%,#2383c5 100%)
  background: -o-linear-gradient(top,  #6bb3e4 0%,#2383c5 100%)
  background: -ms-linear-gradient(top,  #6bb3e4 0%,#2383c5 100%)
  background: linear-gradient(top,  #6bb3e4 0%,#2383c5 100%)
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6bb3e4', endColorstr='#2383c5',GradientType=0 )
  
  border: solid 1px #3F81AF

  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5)
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5)
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5)


  &:visited
    //color: #444

  &:hover
    color: #888
    box-shadow: 0px 0px 0px rgba(0, 0, 0, .5)
    -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, .5)
    -moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, .5)
    position: relative
    top: 1px
    left: 1px    

#editor-header
  :position fixed
  :width  100%
  :height 50px
  :top 0
  :left 0
  background: url(vsr-project-bar.jpg)

  :-moz-box-shadow 0 0 5px 2px #444
  :-webkit-box-shadow 0 0 5px 2px #444
  :box-shadow 0 0 5px 2px #444

  .wrapper
    margin-bottom: 0

  .left
    :position absolute
    :top 14px
    :left 10px

    .project_title
      //:color white

    .project_title, .back
      :float left
      :display block
      :font-size 13px
      :font-weight bold
      :padding 0
    
    .back
      color: #ddd
      text-decoration: none
      :margin 0 0 0 10px

      &:hover
        color: #fff

  .right
    :position absolute
    :top 12px
    :right 5px

    .save, .publish, .back_to_edit
      :float right
      :margin 0 5px
      :line-height 20px
      :padding 2px 10px
      :font-size 12px!important
      :font-weight bold
      :color #fff!important


#editing-toolbar
  :height $editor_header_height
  :display block
  :line-height $editor_header_height
  :width 100%
  :text-align center
  :margin-top -2px

  #grids, #fillers
    :height 60px
    :display inline-block
    :margin-right 5px
    
#editing-toolbar, .box-form
  
  .drag.active
    background-color: #b5ddf8
  
  .drag
    :display inline-block
    :position relative
    :width $drag_dimension
    :height $drag_dimension
    :line-height $drag_dimension
    :text-align center
    :background #EEE
    :margin $drag_margin
    +border-radius(3px)
    +single-box-shadow
    :font-size $drag_dimension - 20px
    border: 1px solid #ccc
    color: black
    text-decoration: none
    font-size: 28px
    line-height: $drag_dimension
    background: #ddd
  
    box-shadow: none
    -webkit-box-shadow: none
    -moz-box-shadow: none

    text-shadow: #fff 0px 1px 1px

    background: #ffffff
    background: -moz-linear-gradient(top,  #ffffff 0%, #eeeeee 100%)
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#eeeeee))
    background: -webkit-linear-gradient(top,  #ffffff 0%,#eeeeee 100%)
    background: -o-linear-gradient(top,  #ffffff 0%,#eeeeee 100%)
    background: -ms-linear-gradient(top,  #ffffff 0%,#eeeeee 100%)
    background: linear-gradient(top,  #ffffff 0%,#eeeeee 100%)
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 )


    
    &:hover

      box-shadow: 0px 0px 0px rgba(0, 0, 0, .5)
      -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, .5)
      -moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, .5)
      position: relative
      top: 1px
      left: 1px
  
  .bg
    width: $drag_dimension
    height: $drag_dimension

  .new-image-bg
    cursor: move
    background: url('picture-icon.png') no-repeat center
  .new-text-bg
    cursor: move
    background: url('text-icon.png') no-repeat center
  .new-video-bg
    cursor: move
    background: url('movie-icon.png') no-repeat center
  .new-attachment-bg
    cursor: move
    background: url('file-icon.png') no-repeat center
  .new-audio-bg
    cursor: move
    background: url('audio-icon.png') no-repeat center
  .new-box2-bg
    background: url('1-1-icon.png') no-repeat center
  .new-box2-1-bg
    background: url('2-1-icon.png') no-repeat center
  .new-box1-2-bg
    background: url('1-2-icon.png') no-repeat center
  .new-box3-bg
    background: url('3-icon.png') no-repeat center
  .new-box1-bg
    background: url('1-icon.png') no-repeat center
  .new-box-bg
    background: url('layout-icon.png') no-repeat center
  
#main-container
  height: 100%
  overflow: hidden

#trash
  position: fixed
  width:  32px
  height: 32px
  color: #fff
  top: 100px
  right: 20px
  background-image: url('trash-icon.png')
  background-color: transparent
  text-align: center
  z-index: 100000

  &.hovering
    z-index: 100

  &.can-drop, &.hovering
    background-image: url('trash-icon.png')
    background-color: transparent
    @include border-radius

.screening
  
  .initial
    padding: 30px 0
    text-align: center
    color: #fff
  
  .initial-box
    padding: 30px 10px
    text-align: center
    color: #fff
    :background-color rgba(0,0,0,0.2)
    @include border-radius(3px)
  
  .image.initial
    width: auto
    margin: 0 auto
    padding: 0


.drag-handle
  display: none
  position: absolute
  cursor: grab
  top: 0
  right: 0
  height: $drag_dimension
  width: $drag_dimension
  background-image: url('move-icon.png')
  
.edit-button
  display: none
  position: absolute
  cursor: pointer
  top: 0
  right: 34px
  height: $drag_dimension
  width: $drag_dimension
  background-image: url('edit-icon.png')
  
.row
  & > .drag-handle
    top:   0px
    right: 0px

  & > .edit-button
    top: 34px
    right: 0
    
.last > .ui-draggable:first-child > .drag-handle
  top:   6px
  right: 34px

.last > .ui-draggable:first-child > .edit-button
  top: 40px
  right: 34px

.audio:hover
  & > .drag-handle
    display: block
  & > .edit-button
    display: block
.audios-list:hover
  & > .drag-handle
    display: block
  & > .edit-button
    display: block
.image:hover
  & > .drag-handle
    display: block
  & > .edit-button
    display: block
.text:hover
  & > .drag-handle
    display: block
  & > .edit-button
    display: block
.video:hover
  & > .drag-handle
    display: block
  & > .edit-button
    display: block
.attachment:hover
  & > .drag-handle
    display: block
  & > .edit-button
    display: block
.attachments-list:hover
  & > .drag-handle
    display: block
  & > .edit-button
    display: block
.videos-list:hover
  & > .drag-handle
    display: block
  & > .edit-button
    display: block

.box
  position: relative
  &:hover  
    & > .drag-handle
      display: block
    & > .edit-button
      display: block

.ui-droppable
  // background: blue
  
.drop-before
  // position: absolute
  top: 0px
  width: 100%
  height: 1.4em
  // background: red
  visibility: hidden
  //outline: 1px solid red
  //background-color: blue

.drop-after
  // position: absolute
  // margin-top: 0px
  bottom: 0
  width: 100%
  height: 1.4em
  // margin-bottom: 0
  visibility: hidden
  // background: blue
  
.hovering.can-drop
  background-color: rgba(255,119,51,1) !important
  //background-color: red!important

.can-drop  
  //background-color: rgba(255,170,68,1) !important
  background-color: #88e68a!important
  opacity: 0.8
  visibility: visible

.text .can-drop
  //margin-left: -15px

.drag-handle,.edit-button
  z-index: 10003

.ui-draggable-dragging.drag
  z-index: 10003

.ui-draggable-dragging
  .drag-handle, .edit-button
    z-index: 10003

#editor-header
  z-index: 10001

#editor-toolbar
  z-index: 10000

.hovering.can-drop    
  z-index: 9999

.can-drop
  z-index: 9998

.admin-invites
  position: absolute
  top: 0px
  margin-left: 500px

ul.viewers
  height: 70px
  width: 488px
  overflow-y: scroll
  background-color: #FFF
  border: 1px solid #CCC
  padding: 5px
