$controls_color: #BDCDD2;
$slider_fill_controls_color: #566264;

div.jp-audio,
div.jp-video {

	/* Edit the font-size to counteract inherited font sizing.
	 * Eg. 1.25em = 1 / 0.8em
	 */

	font-size:1em; /* 1.25em for testing in site pages */ /* No parent CSS that can effect the size in the demos ZIP */

	font-family:Verdana, Arial, sans-serif;
	line-height:1.6;
	color: #666;
	position:relative;
  
}
div.jp-audio {
	width:420px;
}

div.jp-video-270p {
	width:480px;
  margin: 0 auto;
}
div.jp-video-360p {
	width:640px;
  margin: 0 auto;
}
div.jp-video-full {
	/* Rules for IE6 (full-screen) */
	width:480px;
	height:270px;
	/* Rules for IE7 (full-screen) - Otherwise the relative container causes other page items that are not position:static (default) to appear over the video/gui. */
	position:static !important; position:relative
}

div.jp-video-full div.jp-jplayer {
	top: 0;
	left: 0;
	position: fixed !important; position: relative; /* Rules for IE6 (full-screen) */
	overflow: hidden;
	z-index:1000;
}

div.jp-video-full div.jp-gui {
	position: fixed !important; position: static; /* Rules for IE6 (full-screen) */
	top: 0;
	left: 0;
	width:100%;
	height:100%;
	z-index:1000;
}

div.jp-video-full div.jp-interface {
	position: absolute !important; position: relative; /* Rules for IE6 (full-screen) */
	bottom: 0;
	left: 0;
	z-index:1000;
}

div.jp-interface {
	position: relative;
	/*background-color:#eee;*/
	width:100%;
}

div.jp-audio div.jp-type-single div.jp-interface {
	height:80px;
}
div.jp-audio div.jp-type-playlist div.jp-interface {
	height:80px;
}

div.jp-video div.jp-interface {
	border-top:1px solid #009be3;
}

/* APPEREANCE */

div.jp-controls-holder {
	clear: both;
	position: relative;
	overflow: hidden;
}

div.jp-video div.jp-type-single ul.jp-controls {
	width: 78px;
	margin-left: 200px;
}

div.jp-video div.jp-type-playlist ul.jp-controls {
	width: 134px;
	margin-left: 172px;
}
div.jp-video ul.jp-controls,
div.jp-interface ul.jp-controls li {
	display:inline;
	float: left;
}

div.jp-interface ul.jp-controls a {
	display:block;
  text-decoration:none;
  color: $controls_color;
}
div.jp-interface ul.jp-controls a:hover {
  text-decoration:none;
  color: white;
}
div.jp-interface ul.jp-controls a span{
  display:none;
}

a.jp-full-screen:before {
  content: '\e04e';
}

a.jp-restore-screen:before {
 content: '\e050';
}

a.jp-play,
a.jp-pause,
a.jp-stop,
a.jp-previous,
a.jp-next,
a.jp-full-screen,
a.jp-restore-screen,
a.jp-repeat,
a.jp-repeat-of,
a.jp-shuff,
a.jp-shuffle-off{
	width:40px;
	height:40px;
  line-height: 40px;
  text-align: center;
  font-family: 'IconicFill';
}

div.jp-audio a.jp-play,a.jp-pause{
  position: absolute;
  font-size: 26px;
  top: 20px;
  left: 55px;
}
a.jp-play:before {  
  content: '\e047';
}

a.jp-stop:before {
	content: '\e04a';
}

a.jp-pause:before {
	content: '\e049';
}

a.jp-previous:before {
	content: '\e04c';
}

a.jp-next:before {
  content: '\e04d';
}

a.jp-mute:before {
	content:'\e071';
}

a.jp-unmute:before {
	content:'\e071';
}
a.jp-volume-max:before {
	content:'\e072';
}

div.jp-progress {
	overflow:hidden;
	background-color: $slider_fill_controls_color;
}

a.jp-full-screen:before {
  content: '\e04e';
}

a.jp-restore-screen:before {
 content: '\e050';
}

a.jp-repeat:before {
 content: '\e036';
}

a.jp-repeat-off:before {
 content: '\e036';
 color: white;
}

a.jp-shuffle:before {
 content: '\e041';
}


a.jp-shuffle-off:before {
  content: '\e041';
	color:  white;
}

a.jp-mute,
a.jp-unmute,
a.jp-volume-max {
  display: block;
	width:18px;
	height:15px;
  line-height: 15px;
  text-align: center;
  font-family: 'IconicFill';
  position: absolute;
}

div.jp-seek-bar {
/*background: url("jplayer.blue.monday.jpg") 0 -202px repeat-x;*/
  background-color: $controls_color;
	width:0px;
	height:100%;
	cursor: pointer;
}
div.jp-play-bar {
/*background: url("jplayer.blue.monday.jpg") 0 -218px repeat-x ;*/
  background-color: $slider_fill_controls_color;
	width:0px;
	height:100%;
}

/* The seeking class is added/removed inside jPlayer */
div.jp-seeking-bg {
	background: url("jplayer.blue.monday.seeking.gif");
}

div.jp-volume-bar {
	position: absolute;
	overflow:hidden;
/*	background: url("jplayer.blue.monday.jpg") 0 -250px repeat-x;*/
  background-color: $controls_color;
	width:46px;
	height:5px;
	cursor: pointer;
}

div.jp-volume-bar-value {
/*	background: url("jplayer.blue.monday.jpg") 0 -256px repeat-x;*/
  background-color: $slider_fill_controls_color;
	width:0px;
	height:5px;
}



/* AUDIO POSITIONING */

div.jp-audio div.jp-progress {
	position: absolute;
	top:32px;
	height:15px;
}
div.jp-audio div.jp-type-single div.jp-progress {
	left:110px;
	width:186px;
}
div.jp-audio div.jp-type-playlist div.jp-progress {
	left:166px;
	width:130px;
}

div.jp-audio div.jp-type-single a.jp-mute,
div.jp-audio div.jp-type-single a.jp-unmute {
	left: 307px;	
  top: 34px;
}

div.jp-audio div.jp-volume-bar {
	top:37px;
	left:330px;
}

div.jp-audio div.jp-type-playlist a.jp-mute,
div.jp-audio div.jp-type-playlist a.jp-unmute {
  left: 300px;	
}

div.jp-audio a.jp-volume-max {
	left: 380px;	
  top: 34px;
}

div.jp-audio div.jp-time-holder {
	position:absolute;
	top:50px;
}
div.jp-audio div.jp-type-single div.jp-time-holder {
	left:110px;
	width:186px;
}
div.jp-audio div.jp-type-playlist div.jp-time-holder {
	left:166px;
	width:130px;
}

/* VIDEO POSITIONING */

div.jp-video .jp-controls-holder{
  height: 40px;
}

div.jp-video div.jp-progress {
	top:0px;
	left:0px;
	width:100%;
	height:10px;
}

div.jp-video a.jp-mute,
div.jp-video a.jp-unmute,
div.jp-video a.jp-volume-max {
	top:15px;
}

div.jp-video a.jp-play,div.jp-video a.jp-pause{
  display: block;
	top: 0px;
  left: 0px;
  font-size: 16px;
}

div.jp-video a.jp-mute,
div.jp-video a.jp-unmute {
  display: block;
	left: 50px;
}

div.jp-video a.jp-volume-max {
  display: block;
	left: 134px;
}

div.jp-video div.jp-volume-bar {
  display: block;
	top:18px;
	left:77px;
}

div.jp-current-time,
div.jp-duration {
  display: block;
	width:60px;
	font-size:.64em;
	font-style:oblique;
}
div.jp-current-time {
  position:absolute;
  text-align: right;
}
div.jp-duration {
  position:absolute;
  text-align: left;
}
div.jp-video div.jp-current-time {
	top: 13px;
  left: 145px;
}
div.jp-video div.jp-current-time:after {
	content: ' /';
}
div.jp-video div.jp-duration {
	top: 13px;
  left: 210px;
}

div.jp-video a.jp-full-screen {
  position:absolute;
  display: block;
	top: 0px;
  right: 0px;
}

div.jp-video a.jp-restore-screen {
  position:absolute;
  display: block;
	top: 0px;
  right: 0px;
}

/* @end */

/* @group playlist */

div.jp-title {
	font-weight:bold;
	text-align:center;
}

div.jp-title,
div.jp-playlist {
	width:100%;
	background-color:#ccc;
}
div.jp-type-single div.jp-title,
div.jp-type-playlist div.jp-title,
div.jp-type-single div.jp-playlist {
	border-top:none;
}
div.jp-title ul,
div.jp-playlist ul {
	list-style-type:none;
	margin:0;
	padding:0 20px;
	font-size:.72em;
}

div.jp-title li {
	padding:5px 0;
	font-weight:bold;
}
div.jp-playlist li {
	padding:5px 0 4px 20px;
	border-bottom:1px solid #eee;
}

div.jp-playlist li div {
	display:inline;
}

/* Note that the first-child (IE6) and last-child (IE6/7/8) selectors do not work on IE */

div.jp-type-playlist div.jp-playlist li:last-child {
	padding:5px 0 5px 20px;
	border-bottom:none;
}
div.jp-type-playlist div.jp-playlist li.jp-playlist-current {
	list-style-type:square;
	list-style-position:inside;
	padding-left:7px;
}
div.jp-type-playlist div.jp-playlist a {
	color: #333;
	text-decoration: none;
}
div.jp-type-playlist div.jp-playlist a:hover {
	color:#0d88c1;
}
div.jp-type-playlist div.jp-playlist a.jp-playlist-current {
	color:#0d88c1;
}

div.jp-type-playlist div.jp-playlist a.jp-playlist-item-remove {
	float:right;
	display:inline;
	text-align:right;
	margin-right:10px;
	font-weight:bold;
	color:#666;
}
div.jp-type-playlist div.jp-playlist a.jp-playlist-item-remove:hover {
	color:#0d88c1;
}
div.jp-type-playlist div.jp-playlist span.jp-free-media {
	float:right;
	display:inline;
	text-align:right;
	margin-right:10px;
}
div.jp-type-playlist div.jp-playlist span.jp-free-media a{
	color:#666;
}
div.jp-type-playlist div.jp-playlist span.jp-free-media a:hover{
	color:#0d88c1;
}
span.jp-artist {
	font-size:.8em;
	color:#666;
}

/* @end */

div.jp-video-play {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	cursor:pointer;
	background-color:rgba(0,0,0,0); /* Makes IE9 work with the active area over the whole video area. IE6/7/8 only have the button as active area. */
}
div.jp-video-270p div.jp-video-play {
	height:270px;
}
div.jp-video-360p div.jp-video-play {
	height:360px;
}
div.jp-video-full div.jp-video-play {
	height:100%;
	z-index:1000;
}
a.jp-video-play-icon {
	position:relative;
	display:block;
	width: 90px;
	height: 90px;

	margin-left:-45px;
	margin-top:-45px;
	left:50%;
	top:40%;
  text-align: center;
  font-family: 'IconicFill';
  font-size: 50px;
  line-height: 90px;
  background-color: rgba(0,0,0,0.5);
}
a.jp-video-play-icon:before{
  content:'\e047';
}
div.jp-video-play:hover a.jp-video-play-icon {
	color: white;
}





div.jp-jplayer audio,
div.jp-jplayer {
	width:0px;
	height:0px;
}

div.jp-jplayer {
	background-color: #000000;
}

div.jp-video div.jp-jplayer{
  margin: 0 auto;
}



/* @group TOGGLES */

/* The audio toggles are nested inside jp-time-holder */

ul.jp-toggles {
	list-style-type:none;
	padding:0;
	margin:0 auto;
	overflow:hidden;
}

div.jp-audio .jp-type-single ul.jp-toggles {
	width:25px;
}
div.jp-audio .jp-type-playlist ul.jp-toggles {
	width:55px;
	margin: 0;
	position: absolute;
	left: 325px;
	top: 50px;
}

div.jp-video ul.jp-toggles {
	margin-top:10px;
	width:100px;
}

/* @end */

/* @group NO SOLUTION error feedback */

.jp-no-solution {
	position:absolute;
	width:390px;
	margin-left:-202px;
	left:50%;
	top: 10px;

	padding:5px;
	font-size:.8em;
	background-color:#eee;
	border:2px solid #009be3;
	color:#000;
	display:none;
}

.jp-no-solution a {
	color:#000;
}

.jp-no-solution span {
	font-size:1em;
	display:block;
	text-align:center;
	font-weight:bold;
}

/* @end */
