.preview
  .video-wrapper
    //width: 85%

  .wrapper
    margin: 24px auto

  .screening
  .box
    color: black
    background: none
    outline: none!important
    border: none

  .box-whole
    background-color: transparent
    margin: 0
    min-height: 2px
    width: 938px
    //outline: none!important
  .box2
    width: 100%

    .box-half
      width: 458px
      margin: 20px
      background-color: transparent
      outline: none!important
      border: none

      &:nth-child(3)
        margin-left: 0

  .box1-2
    .box-third
      margin-left: 20px!important

  .box2-1
    .box-two-thirds
      margin-left: 20px!important
      width: 630px
      margin: 20px 0 20px 20px 

  .box2-1, .box1-2
    width: 100%
    .box-third
      width: 22%
      margin: 2% 2%
      background-color: transparent
      background: red
      //outline: none!important
      outline: 1px solid black

    .box-two-thirds
      width: 63%
      margin: 2% 2%
      background-color: transparent
      //outline: none!important
      outline: 1px dotted white

  .box1-2
    .box-two-thirds
      width: 631px
      margin: 20px 20px 20px 0px

  .box3
    width: 100%
    .box-third
      //margin-left: 5px
      width: 298px
      margin: 20px 0 20px 20px
      background-color: transparent
      //outline: none!important

@media only screen and (min-width : 900px)
  .preview
    .screening
    .box
      color: black
    .box-whole
      background-color: transparent
    .box2
      width: 100%
      .box-half
        width: 46%
        margin: 2% 2%
        background-color: transparent
    .box2-1, .box1-2
      width: 100%
      .box-third
        width: 29%
        margin: 2% 2%
        background-color: transparent
      .box-two-thirds
        width: 63%
        margin: 2% 2%
        background-color: transparent
    .box3
      width: 100%
      .box-third
        width: 29%
        margin: 2% 2%
        background-color: transparent
    img, .text, .video
      //margin: 15px
    .text
      //padding: 15px
      //font-size: 13px
      //color: #fff
    .video
      margin: 0 auto


@media only screen and (min-width : 400px) and (max-width : 899px)
  font-size: 80%
  .preview
    .screening
    .box
      color: black
    .box-whole
      background-color: transparent
    .box2
      width: 100%
      .box-half
        width: 100%
        margin: 2% auto
        background-color: transparent
    .box2-1, .box1-2
      width: 100%
      .box-third
        width: 100%
        margin: 2% auto
        background-color: transparent
      .box-two-thirds
        width: 100%
        margin: 2% auto
        background-color: transparent
    .box3
      width: 100%
      .box-third
        width: 49%
        margin: 2% auto
        background-color: transparent
      .box-third:last-child
        width: 100%
    img, .text, .video
      margin: 10px
    .text
      padding: 10px
    .video
      margin: 0 auto

@media only screen and (max-width : 399px)
  font-size: 60%
  .preview
    .screening
      background: transparent
    .box
      color: black
    .box-whole
      background-color: transparent
    .box2
      width: 100%
      .box-half
        width: 100%
        margin: 2% auto
        background-color: transparent
    .box2-1, .box1-2
      width: 100%
      .box-third
        width: 100%
        margin: 2% auto
        background-color: transparent
      .box-two-thirds
        width: 100%
        margin: 2% auto
        background-color: transparent
    .box3
      width: 100%
      .box-third
        width: 100%
        margin: 2% auto
        background-color: transparent
    img, .text, .video
      margin: 5px
    .text
      padding: 5px
    .video
      margin: 0 auto
