$STD: BitstreamVeraSansRoman
$Bold: BitstreamVeraSansBold
$Italics: BitstreamVeraSansBold
$BoldItalics: BitstreamVeraSansBoldOblique
$FallBack: Arial, sans-serif

$h1Font: $STD, $FallBack
$h2Font: $STD, $FallBack
$h3Font: 'BitstreamVeraSansBold', $FallBack
$h4Font: 'BitstreamVeraSansBoldOblique', $FallBack

.screening
  .text
    font-size: 1.2em
    color: #fff
    
  p 
    color: #fff
    margin-bottom: 1em

    &:last-child
      margin-bottom: 0px

  .note
    :color #566264

  ul
    :list-style-type circle
    &:last-child
      margin-bottom: 0px

  ol
    :list-style-type decimal
    &:last-child
      margin-bottom: 0px

  ul, ol, li
    :margin-left 20px
    :padding-left 0px

  h1, h2, h3, h4, h5, h6
    :margin 0
    :padding 0
    :margin-bottom 20px
    :font-weight 500
    :color #fff

    
  h1
    :text-align center
    :font-size 30px
    :line-height 32px
    &:last-child
      margin-bottom: 0px
    
  h2
    :font-size 25px
    :line-height 27px
    &:last-child
      margin-bottom: 0px
  h3
    :font-size 22px
    :line-height 24px
    &:last-child
      margin-bottom: 0px
  h4
    :font-size 20px
    :line-height 22px
    &:last-child
      margin-bottom: 0px
  h5
    :font-size 18px
    :line-height 20px
    :text-transform uppercase
    :color #3d91cb
    &:last-child
      margin-bottom: 0px
  h6
    :font-size 16px
    :line-height 18px
    :text-transform uppercase
    :color silver
    
  a
    //:color #BDCDD2
    :text-decoration none

  a:hover
    //:color white

  .box-two-thirds
  .box-half
    h1
      //:font-size 1.4em
      //:line-height 1.3em
      //:padding 1em    
    h2
      //:font-size 1.3em
      //:line-height 1.3em
      //:padding 1em
  .box-third
    h1
      //:font-size 1.4em
      //:line-height 1.3em
      //:padding 1em    
    h2
      //:font-size 1.3em
      //:line-height 1.3em
      //:padding 1em
    
