.video-wrapper
  margin: 0 auto
  //width: 640px
  max-width: 100%
  
.video-player-container
  position: relative
  padding-top: 30px
  height: 0
  overflow: hidden

.video-player-container.youtube
  padding-bottom: 56.25%
  
.video-player-container.vimeo
  padding-bottom: 53.47%

.video-player-container.upload
  height: auto
  margin: auto
  
.video-player-container iframe, .video-player-container object, .video-player-container embed, .video-player-container .video-overlay
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%

.videos-list
  @include border-radius(3px)  
  .videos
    text-align: center
    margin-top: 1.5em

    .video-thumb
      max-width: 290px
      width: 25%
      display: inline-block
      margin-bottom: 20px
      .on
        cursor: pointer
        margin-bottom: 0
      .off
        display: none
        margin-bottom: 0
      &.can-drop
        img
          +opacity(0.5)
    .video-thumb:hover, .video-thumb.active
      .on
        display: none
      .off
        display: inline
        cursor: pointer
    .video-thumb.active:hover .off
      cursor: default
