<!doctype html>
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8" lang="en">
/[if IE 8] <html class="no-js lt-ie9" lang="en">
/ [if gt IE 8]><!
%html.no-js{:lang => "en"}
  / <![endif]
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %title
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    %title VSR
    = stylesheet_link_tag 'screen.css', :media => 'screen, projection'
    -#= stylesheet_link_tag 'print.css', :media => 'print'
    /[if IE]
      -#= stylesheet_link_tag 'ie.css', :media => 'screen, projection'
    = csrf_meta_tags
    - if Rails.env.development?
      = javascript_include_tag "development"
    - else
      = javascript_include_tag "application"
    = render :partial=>'z_test/player'
  %body#container.editor.screening_body
    /[if lt IE 7] <p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p>
    #foreground-panel
    #editor-header
      %span.project_title
        Project Name
      = link_to 'back', '/projects', :class=>'back'
      = link_to 'save', '#', :class=>'save'
      = link_to 'publish', '#', :class=>'publish'
    #editing-toolbar
      .drag.new-image
      .drag.new-text
      .drag.new-box
    #main-container.screening
      #main.wrapper.clearfix
        #main-panel
          .template
            .videos-list
              %h1.video_title
                Lorem ipsum dolor
              .video_player_container
                = render :partial=>'z_test/video'
              .videos
                .video
                .video
                .video
            .audios-list
              %h2.title
                Soundtracks
              %p.note
                Click on track to play.
              %ul.tracks
                %li
                  In hac habitasse platea dictumst.
                %li
                  Aliquam erat volutpat.
                %li
                  Vestibulum ante ipsum primis in faucibus.                  
              .audio_player
                = render :partial=>'z_test/audio'
            .attachments-list
              %h2.title
                Attachments
              .attachments
                %a.attachment{:href=>'#'}
                  .icon.doc
                  .name
                    Read me
                %a.attachment{:href=>'#'}
                  .icon.jpg
                  .name
                    Cover Image
                %a.attachment{:href=>'#'}
                  .icon.mov
                  .name
                    Download trailer
                %a.attachment{:href=>'#'}
                  .icon.zip
                  .name
                    Download all
            .panel
              .text
                %h2 Lorem ipsum dolor sit amet, consectetur adipiscing elit
                %p
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eget libero eu dui vehicula pellentesque. Aenean rhoncus feugiat sapien, id mattis lacus posuere sit amet. Curabitur condimentum scelerisque tellus, eu gravida arcu venenatis eu. Aenean nec enim dolor. Fusce eu metus enim. Vestibulum dictum adipiscing massa sit amet tempus. Mauris egestas pretium dui, ac dapibus felis viverra eu. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec et neque quis lorem mollis varius et at dolor. Donec enim nulla, dictum elementum congue a, tincidunt nec neque.
                %h3
                  Pellentesque habitant morbi tristique senectus
                %p
                  Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris venenatis metus at arcu semper scelerisque. Pellentesque mollis hendrerit diam, vel cursus tortor luctus eu. Donec orci tortor, accumsan et fringilla non, mattis in turpis. Nam condimentum, nunc eget suscipit vulputate, ipsum nibh condimentum elit, quis posuere sem ipsum eget sem. Proin laoreet dignissim lacus, vel hendrerit massa commodo vel. Aenean laoreet dui a massa cursus in blandit sem vulputate.
                %h4
                  In hac habitasse platea dictumst
                %p
                  In hac habitasse platea dictumst. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris pretium ullamcorper ligula id eleifend. Sed mattis, elit quis placerat varius, metus diam sollicitudin purus, et adipiscing nunc erat sit amet purus. Nunc a magna non ante varius pharetra. Praesent elementum lorem ut purus porttitor aliquam. Aenean risus felis, ornare vel eleifend nec, varius rhoncus tortor. Aliquam erat volutpat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nam in viverra sapien.
                %h5
                  Phasellus velit quam, porta ut elementum a, semper in leo
                %p
                  Phasellus velit quam, porta ut elementum a, semper in leo. Sed arcu mi, ultrices nec gravida non, consequat nec dui. Donec lacus massa, venenatis eget accumsan id, mattis at leo. Proin eu mauris ligula, quis eleifend lacus. Pellentesque eget erat velit. Pellentesque ultrices, odio nec egestas aliquam, dui enim egestas orci, non feugiat risus lorem vel nisi. Nulla mollis laoreet lectus eu molestie. Sed in libero nulla. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Pellentesque accumsan porta gravida.
             

      / #main
    / #main-container
    :javascript
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
