<div id='login-form'>
  <div class='logo'>
  </div>
  <% if notice  %>
    <p class='notice'><%= notice %></p>
  <% end %>
  <% if alert  %>
    <p class='notice'><%= alert %></p>
  <% end %>

  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <div>
      <%= f.email_field :email, :placeholder => 'Email' %></div>
    <div>
    <div>
      <%= f.password_field :password, :placeholder => "Password" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="remember-me"><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
    <% end -%>

    <div><%= f.submit "Sign in" %></div>

    <div id="forgot-password">
      <%= link_to "I forgot my password", new_password_path(resource_name) %>
    </div>

  <% end %>

  <!-- <%= render "links" %> -->
</div>
