%li
  %span.type{:class=>"<%= model.get('action_type')%>"}
    <%= model.get('action_type')%> &nbsp;
  %span.data
    <%= model.get('description') %>
  %span.time
    [ <%= model.get('occured_at')  %>
    <% if(!!contact.get('full_name') || !!contact.get('email') || !!model.get('email')) { %>
    by
    <% } %>
    <% if(!!contact.get('full_name')) { %>
    <%= contact.get('full_name') %>, 
    <% } %>
    <% if(!!contact.get('email')) { %>
    <%= contact.get('email') %>
    <% } else { %>
    <%= model.get('email') %>
    <% } %>
    ]
    
  