%a{:href=>"<%=view_item.get('file_url')%>", :class=>'download-link', :target=>'_blank'}
  .icon{:class=>"<%=view_item.get('file_ext')%>"}
  .name
    <%=view_item.get('title') ? view_item.get('title') : 'Download'%>