%h3.video-title
<% if (model.get('show_link')) { %>
%h4.download_link
  <a href="<%=model.get('video_url')%>">Download</a>
<% } %>

.video-wrapper
  .video-player-container{:class=>"<%=model.get('sub_type')%>"}
    .video-overlay{:id=>"video_overlay_<%=model.id%>",'data-video-id'=>'<%=model.id%>'}
