/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require skeleton
 *= require_self
 *= require base
 *= require layout
 *= require_tree . 
*/

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: helvetica, sans-serif; color: #222; }
body { margin: 0; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a { 
  color: #51a0d6!important;
  font-weight: bold;
  text-decoration: none;
  //text-shadow: 0 1px 0 white;
}
a:visited { color: #51a0d6!important; }
a:hover { color: #2383C5!important; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

svg:not(:root) { overflow: hidden; }

figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }


h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin:0 0 17px 0;
  font-weight: bold;
  color: #444;
}

h1 { 
  font-size: 24px;
  font-weight: 300;
  //text-shadow: #000 0 1px 1px;
  color: #606060;
}
h2 { 
  font-size: 20px; 

}
h3 { 
  font-size: 18px; 
  
  font-size: 15px;
  font-weight: bold;
  //text-shadow: #000 0 1px 1px;
}

p {
  margin-bottom: 17px;
}

html, body{ 
  font-family: "Helvetica Neue", helvetica, arial, sans-serif;
  font-size:12px;
  line-height: 20px;
  color: #222;
  text-rendering:optimizeLegibility;
  //height: 100%;
}

body {
  overflow-y: scroll;
  //background: url('vsr-bg.png');
  background: url(vsr-bg.jpg);
}

#container {
  
  //background: #F1F3F3
}

.wrapper{
  width:980px;
  margin: 0 auto;
  margin-bottom: 50px;
}

/* ===================
    ALL: VREG Theme
   =================== */
#main aside { 
  // border-top:    1px solid #ddd;
}

#header-container{
  width: 980px;
  margin: 25px auto 0 auto;
  height: 30px;
  //outline: 1px solid red;
}

#main-container {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px auto;
}

#main-panel {
  position: relative;
  margin-top: 50px;
  // background: silver;
}

#footer-container { 

  padding-top: 50px;
  
  footer{

    padding:0px 0;
    text-align: center;

    p {
      color: #666;
      font-size: 13px;
    }
  }
}


#header-container,
#footer-container,
#main aside{
  background:0;
}

#title{ text-align: left; }

::-moz-selection { background: #eee; color: #222; text-shadow: none; }
::selection      { background: #eee; color: #222; text-shadow: none; }

/* ==============
    MOBILE: Menu
   ============== */

nav a{
  display:block;
  margin-bottom:10px;
  padding:15px 0;

  // background:#e44d26;
  //color:white;

  text-align:center;
  text-decoration:none;
  font-weight:bold;
}

nav a:hover, nav a:visited{
  //color:white;
}

nav a:hover{
  text-decoration:underline;
}

/* ==============
    MOBILE: Main
   ============== */

#main{
    margin-top: 35px;
}

#main article h1{
  font-size:2em;
}

#main aside{
  //color:white;
  padding:0px 5% 10px;
}

.ie7 #title{ padding-top:20px; }


@media only screen and (min-width: 480px) {

  nav a{
    float:left;
    width:27%;
    margin:0 1.7%;
    padding:25px 2%;
    margin-bottom:0;
  }
  
  nav li:first-child a{ margin-left:0;  }
  nav li:last-child  a{ margin-right:0; }
  
  nav ul li{
    display:inline;
  } 
  .oldie nav a{
    margin:0 0.7%;    
  }
}

@media only screen and (min-width: 768px) {

  #header-container,
  #main aside{
    // -webkit-box-shadow:0 10px 10px #aaa;
    //    -moz-box-shadow:0 10px 10px #aaa;
    //         box-shadow:0 10px 10px #aaa;
  }

  
  #title{
    float:left;
  }

  nav{
    float:right;
    width:38%;
  }


  #main article{
    float:left;
    width:57%;
  }
    
  #main aside{
    float:right;
    width:28%;
  }
}

@media only screen and (min-width: 1140px) {

  .wrapper{
    // width:1026px; /* 1140px - 10% for margins */
      
  }
}


.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

 
@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}

ul.hmenu {
  list-style: none; 
  margin: 0 2em 0 2em;
  padding: 0;
  float: right;
  color: #ddd;
  font-weight: 0;
}

ul.hmenu li {
  display: inline;  
  a {
    
    text-decoration: none;
  }
  
  a:visited {
    
  } 
}

#forgot-password {
  margin-top: 30px;

  a {
    &:hover {
      text-decoration: underline;
    }
  }
}

#reset-password-instructions {
  margin-top: 12px;
}

.clear {
  clear: both;
}




