<%= image_tag "vreglogo.png", alt: "Village Roadshow Logo" %>
<br />

<p>We have received a request to change the password for your username: <%= @resource.email %>.</p>

<p>Your current password will not be changed until you click the link below and create a new one.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>
Thank you,<br />
Village Screening Room
</p>
