%form{"accept-charset" => "UTF-8", :action => "/view_items", :method => "post"}
  %div{:style => "margin:0;padding:0;display:inline"}
    %input{:name => "utf8", :type => "hidden", :value => "✓"}
    %input{:name => "view_item[item_type]", :type => "hidden", :value => "<%=view_item.get('item_type') %>"}
    %input{:name => "view_item[sub_type]",  :type => "hidden", :value => "<%=view_item.get('sub_type') %>"}
  .error-explanation
  .field
    %label{:for => "title"} Title
    %input{:name=>'view_item[title]', :value=>'<%=view_item.get("title") %>', :placeholder=>'When ID changes this changes too.', :type => "text"}
  %fieldset.soundcloud-fields
    .field
      %label{:for => "vimeo_id"} Soundcloud URL or ID
      %input{:name=>'view_item[soundcloud_id]', :type => "text", :value=>"<%=view_item.get('soundcloud_id') %>"}
  %input{:name=>'view_item[position]', :value=>'<%=view_item.get("position")%>', :type => "hidden"}
  .actions
    %input.save{:name => "commit", :type => "submit", :value => "Save"}
    %a.cancel-form cancel
