%form{"accept-charset" => "UTF-8", :action => "/view_items", :method => "post", :class => "box-form"}
  %div{:style => "margin:0;padding:0;display:inline"}
    %input{:name => "utf8", :type => "hidden", :value => "✓"}/
    %input{:name => "view_item[item_type]", :type => "hidden", :value => "<%=view_item.get('item_type') %>"}/
  .error-explanation
  %h3 Edit layout
  .options
  .actions
    %input.save{:name => "commit", :type => "submit", :value => "Save"}
    %a.cancel-form cancel
