%form{"accept-charset" => "UTF-8", :action => "<%=view_item.url()%>", :method => "POST", "data-remote"=>"true", :enctype => "multipart/form-data"}
  %div{:style => "margin:0;padding:0;display:inline"}
    %input{:name => "utf8", :type => "hidden", :value => "✓"}
    %input{:name => "view_item[item_type]", :type => "hidden", :value => "<%=view_item.get('item_type') %>"}
    %input{:name => "csrf_token", :type => "hidden", :value => "<%= $('meta[name=\"csrf-token\"]').attr('content') %>"}
    <% if(!view_item.isNew()){ %>
    %input{:name => "_method", :type => "hidden", :value => "PUT"}    
    <% }; %>
  .error-explanation
  .field
    %label{:for => "title"} Image title
    %input{:name=>'view_item[title]', :value=>'<%=view_item.get("title")%>', :type => "text"}
    %input{:name=>'view_item[position]', :value=>'<%=view_item.get("position")%>', :type => "hidden"}
    .field
    %label{:for => "image"} Image
    %input{:name=>'view_item[image]', :type=>'file'}
  .actions
    %input.save{:name => "commit", :type => "submit", :value => "Save"}
    %a.cancel-form cancel
