%form{"accept-charset" => "UTF-8", :action => "/view_items", :method => "post"}
  %div{:style => "margin:0;padding:0;display:inline"}
    %input{:name => "utf8", :type => "hidden", :value => "✓"}/
    %input{:name => "view_item[item_type]", :type => "hidden", :value => "<%=view_item.get('item_type') %>"}/
  .error-explanation
  .field
    %fieldset.content-fields
      .field
        %label{:for => "html"} Content
      .field
        %textarea#ckeditor{name:'view_item[html]'}
        -#=  cktext_area_tag("'view_item[html]'", "<%= view_item.get('html') %>", :input_html => {:cols => 10, :rows => 20}, :toolbar => 'Easy')
        %input{:name=>'view_item[position]', :value=>'<%=view_item.get("position")%>', :type => "hidden"}
  .actions
    %input.save{:name => "commit", :type => "submit", :value => "Save"}
    %a.cancel-form cancel