%form{"accept-charset" => "UTF-8", :action => "/view_items", :method => "post"}
  %div{:style => "margin:0;padding:0;display:inline"}
    %input{:name => "utf8", :type => "hidden", :value => "✓"}/
    %input{:name => "view_item[item_type]", :type => "hidden", :value => "<%=view_item.get('item_type') %>"}/
  .error-explanation
  .field
    %label{:for => "title"} Title
    %input{:name=>'view_item[title]', :value=>'<%=view_item.get("title") %>', :placeholder=>'When ID changes this changes too.', :type => "text"}
  .field
    %label{:for => "item_type"} Video type
    %select{:name => "view_item[sub_type]"}
      %option{:value=>'vimeo'} Vimeo
      %option{:value=>'youtube'} YouTube
      %option{:value=>'upload'} Upload
  %fieldset.vimeo-fields
    .field
      %label{:for => "vimeo_id"} Vimeo ID
      %input{:name=>'view_item[vimeo_id]', :type => "text", :value=>'<%=view_item.get("vimeo_id") %>'}
  %fieldset.youtube-fields
    .field
      %label{:for => "youtube_id"} Youtube ID
      %input{:name=>'view_item[youtube_id]', :type => "text", :value=>'<%=view_item.get("youtube_id") %>'}
  %fieldset.upload-fields
    .field
      %label{:for => "upload"} File
      %input{:name=>'view_item[video_file]', :type => "hidden"}
        %iframe{src: '<%=aws_directory%>', style: "border: none; height: 18px; vertical-align: middle;"}
      %label{:for => "show_link"} Show Link
      %input{:name=>'view_item[show_link]', :type => "checkbox"}
      %input{:name=>'view_item[position]', :value=>'<%=view_item.get("position")%>', :type => "hidden"}
      
      .progress-bar
  .actions
    %input.save{:name => "commit", :type => "submit", :value => "Save"}
    %a.cancel-form cancel
