<h2>Activate your account</h2>

<%= form_for(@user, :url => user_activation_path(@user.activation_token), :html => { :method => :put }) do |f| %>

  <div><%= f.label :password, "Password" %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation, "Confirm password" %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "Create Your Password" %></div>
<% end %>
