%h3 Users

.new-admin
  %h3 add new admin user
  = form_tag user_activations_path do
    = label_tag :email, "Enter user's email"
    %br
    = text_field_tag :email
    = submit_tag 'Add'

.users-list
  %h4 Admin Users
  %ul
    - @admins.each do |admin|
      %li
        = admin.email
        = link_to 'remove admin rights', admin_right_path(admin.id, :confirm => 'Are you sure ?'), :method => :delete
        |
        = link_to 'remove', user_activation_path(admin.id, :confirm => 'Are you sure ?'), :method => :delete

.users-list
  %h4 Active Users
  %ul
    - @active_users.each do |user|
      %li
        = user.email
        = link_to 'remove', user_activation_path(user.id, :confirm => "Are you sure ?"), :method => :delete

.users-list
  %h4 Inactive Users
  %ul
    - @inactive_users.each do |user|
      %li
        = user.email
        = link_to 'remove', user_activation_path(user.id, :confirm => "Are you sure ?"), :method => :delete

.clear

.actions
  = link_to "Back", root_path
