.content
  <input type="checkbox" name="group" value="<%= contactGroup.get('id') %>" />
  <%if(contactGroup.get('name')){%>
  <%= contactGroup.get('name')%> 
  <%};%>
  <%if(contactGroup.get('project_id')){%>
  (autosync)
  <%};%>