%form#contact_group_form
  %h2 Group
  .errors
  
  .field
    %label Name
    %input#contact_group_name{:type => "text", :name=>'contact_group[name]'}

  .actions
    %input.sumbmit{:name => "commit", :type => "submit", :value => "Save"}
    %a.cancel-form{:href => ""} cancel