.actions
  %button#present_project{type: 'button'} Open Presentation 

%header
  %h1
    <%= project.get('title') %>
  %p
    <%= project.get('description') %>



#viewers_management
  .groups-index
  .contacts-index
  .viewers-index
  .user-actions-index
  .actions
  .clearfix