.actions
  %button#edit_presentation{type:'submit',formaction:'<%= project.editPresentationURL() %>'} Open Editor
  %button#edit_project{type:'button'} Edit Project
  %button#archive_project{type:'button'} Archive Project
  %button#destroy_project{type:'button'} Remove Project

%header
  %h1
    <%= project.get('title') %>
  %p
    <%= project.get('description') %>



#viewers_management
  .groups-index
  .contacts-index
  .viewers-index
  .user-actions-index
  .actions
  .clearfix