%form.project-form{"accept-charset" => "UTF-8", :action => "/projects", :method => "post"}
  %div{:style => "margin:0;padding:0;display:inline"}
    %input{:name => "utf8", :type => "hidden", :value => "✓"}/
    %input{:name => "csrf_token", :type => "hidden", :value => "<%= $('meta[name=\"csrf-token\"]').attr('content') %>"}
  .error-explanation
  .field
    %label{:for => "project_title"} Title
    %input#project_title{:name => "project[title]", :size => "30", :type => "text", :value => "<%= project.get('title') %>".html_safe}
  .field
    %label{:for => "project_category"} Category
    %select#project_category{:name => "project[category]"}
      ^if project.get('category') == 'domestic'
        %option{:value => "domestic", :selected => true} Domestic
      ^else
        %option{:value => "domestic", :selected => false} Domestic
      ^if project.get('category') == 'china'
        %option{:value => "china", :selected => true} China
      ^else
        %option{:value => "china", :selected => false} China
  .field
    %label{:for => "project_description"} Description
    %textarea#project_description{:name => "project[description]"}
      = "<%= project.get('description') %>".html_safe
  .actions
    %input.save{:name => "commit", :type => "submit", :value => "Save"}
    %a.cancel-form cancel