<!doctype html>
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8" lang="en">
/[if IE 8] <html class="no-js lt-ie9" lang="en">
=raw '<!--[if gt IE 8]>'
%html.no-js{:lang => "en"}
  =raw '<![endif]-->'
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %title
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    %title VSR
    = stylesheet_link_tag 'screen.css', :media => 'screen, projection'
    -#= stylesheet_link_tag 'print.css', :media => 'print'
    /[if IE]
      -#= stylesheet_link_tag 'ie.css', :media => 'screen, projection'
    = csrf_meta_tags
    :javascript
      viewingMode = '#{@mode}';
      var CKEDITOR_BASEPATH = '/ckeditor/';
      // var CKEDITOR_BASEPATH = '/assets/ckeditor/';

    - if Rails.env.development?
      = javascript_include_tag "development"
    - else
      = javascript_include_tag "application"

    %script{:src => "/ckeditor/ckeditor.js"}
    %script{:src => "/ckeditor/adapters/jquery.js"}
  %body#container.admin
    /[if lt IE 7] <p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p>
    #background-panel
    #foreground-panel
    #main-container
      #header-container
        - if user_signed_in?
          %ul.hmenu        
            = render 'devise/menu/registration_items'
            = render 'devise/menu/login_items'
  
          %header.clearfix
            %h1#title
      #main.wrapper.clearfix
        #main-panel
          - if user_signed_in?
            - if notice
              %p.notice= notice
            - if alert
              %p.alert= alert
          = yield
      
    #footer-container
      %footer
        %p Copyright 2012, Village Screening Room

      / #main
    / #main-container

    /
    :javascript
      var _gaq=[['_setAccount','UA-47924149-1'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    
