<!doctype html>
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8" lang="en">
/[if IE 8] <html class="no-js lt-ie9" lang="en">
=raw '<!--[if gt IE 8]>'
%html.no-js{:lang => "en"}
  =raw '<![endif]-->'
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %title
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    %title VSR
    %link{:href => "http://vjs.zencdn.net/c/video-js.css", :rel => "stylesheet"}
    %script{:src => "http://vjs.zencdn.net/c/video.js"}
    = stylesheet_link_tag 'screen.css', :media => 'screen, projection'
    -#= stylesheet_link_tag 'print.css', :media => 'print'
    -#/[if IE]
      -#= stylesheet_link_tag 'ie.css', :media => 'screen, projection'
    = csrf_meta_tags
    
    :javascript
      viewingMode = '#{@mode}';

    - if Rails.env.development?
      = javascript_include_tag "development"
    - else
      = javascript_include_tag "application"

  %body#container.preview.screening_body{:data=>{'view-items'=>@view_items.to_json,'project-id'=>@project.id,'root-id'=>@project.view_item_id}}
    -#/[if lt IE 7] <p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p>
    #foreground-panel
    #editor-header
      - if current_user == @project.creator
        .left
          %span.project_title= @project.title
          = link_to 'Other projects', projects_path(:anchor => project_path(@project)[1..-1]), :class=>'back'
        .right
          = link_to 'publish', '#', :class => 'publish button'
          = link_to 'back to edit mode', edit_presentation_project_path(:anchor => edit_presentation_project_path(@project)[1..-1]), :class=>'button back_to_edit'        
      - else
        .left
          %span.project_title= @project.title
          = link_to 'Other projects', root_path, :class=>'back'
        #editing-toolbar
    #main-container.screening.preview
      #main-panel
          
      / #main
    / #main-container
    :javascript
      var _gaq=[['_setAccount','UA-47924149-1'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
